@page "/history"
@using Lift.Models
@using Lift.Services
@inject ElevatorService ElevatorService

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <h3 class="text-center">So'rovlar Tarixi</h3>

    <div class="mb-4">
        <button class="btn btn-primary" @onclick="LoadHistory">Tarixni yangilash</button>
    </div>

    @if (ElevatorRequests == null)
    {
        <div class="alert alert-warning">
            <p>Tarix yuklanmoqda...</p>
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">So'ralgan Qavat</th>
                        <th scope="col">So‘rov vaqti</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in ElevatorRequests)
                    {
                        <tr>
                            <td>@request.Id</td>
                            <td>@request.RequestedFloor</td>
                            <td>@request.RequestTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    private List<ElevatorRequest>? ElevatorRequests { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadHistory();
    }

    private async Task LoadHistory()
    {
        ElevatorRequests = ElevatorService.GetElevatorRequests();
        StateHasChanged();
    }
}
